<!DOCTYPE html>
<html ng-app="HireMeApp">
<head>
  <title>HireMe</title>
  <%= stylesheet_link_tag '/css/bootstrap.min.css', '/css/bootstrap-theme.min.css', media: 'all' %>
  <%= stylesheet_link_tag '/css/ng-table.min.css', media: 'all' %>
  <link rel="stylesheet" type="text/css" href="/css/ng-tags-input.min.css">

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= javascript_include_tag 'jquery' %>
  <script src="/js/bootstrap.min.js"></script>

  <script src="/js/angular.min.js"></script>

  <script src="/js/angular-route.min.js"></script>
  <script src="/js/angular-resource.min.js"></script>

  <script src="/js/ng-table.min.js"></script>
  <script src="/js/ng-tags-input.min.js"></script>

  <script src="/js/app/services/employees_service.js"></script>
  <script src="/js/app/services/jobs_service.js"></script>
  <script src="/js/app/controllers/jobs_controller.js"></script>
  <script src="/js/app/controllers/employees_controller.js"></script>
  <script src="/js/app/controllers/welcome_controller.js"></script>
  <script src="/js/app/app.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#/">Hire Me</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/#/jobs">Jobs</a></li>
            <li><a href="/#/employees">Employees</a></li>
          </ul>
        </div>
      </div>

    </nav>

    <%= yield %>
  </div>

</body>
</html>
